:root {
  --font-12: 12px;
  --font-14: 14px;
  --font-16: 16px;
  --font-18: 18px;
  --font-20: 20px;
  --font-24: 24px;
  --font-28: 28px;
  --font-32: 32px;
  --font-48: 48px;

  --line-height-16: 16px;
  --line-height-20: 20px;
  --line-height-24: 24px;
  --line-height-28: 28px;
  --line-height-32: 32px;
  --line-height-40: 40px;
  --line-height-56: 56px;

  --letter-spacing-2em: 0.02em;

  --text-shadow : 0 0 95px rgba(0, 0, 0, 0.07);
}
