$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-md-max: 991px;
$breakpoint-lg: 992px;

@mixin respond-to($media) {
  @if $media == sm {
    @media (max-width: $breakpoint-md - 1) { @content; }
  }
  @else if $media == md {
    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-md-max) { @content; }
  }
  @else if $media == lg {
    @media (min-width: $breakpoint-lg) { @content; }
  }
}

.element {
  @include respond-to(lg) {
    // ваш код
  }
}
// @import "src/styles/media.scss";
