:root {
  --max-width: 1440px;
  --max-site-width: 1980px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;


  --header-height: 60px;
  /*colors*/
  --text-color: #222222;
  --black-color: #000000;
  --white-color: #FFFFFF;
  --additional-color: #FCFF32;
  --alternative-color: #FEFFB0;
  --contrast-color: #f15d22;
  --bg-color: #fff8e84f;
  --tc-official-color: #229ED9;
  --whatsapp-official-color: #25D366;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 14px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}
