.button {
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: var(--contrast-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}

.button.active {
  background-color: #33a8ff;
}
